@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

section#header {
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

section#dreambig {
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

section#experience {
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

div.left-side {
    width: 50%;
    padding-left: 5%;
}

div.right-side {
    width: 50%;
    padding-left: 10%;
}

section#dreambig div.right-side {
    margin-top: -100px;
}

div.right-side img {
    width: 90%;
}

div.left-side img {
    width: 90%;
}

h1 {
    font-size: 50px;
}

h1.mName {
    font-size: 45px;
}

h3 {
    font-size: 25px;
    padding-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

h1 span {
    color: darkorange;
}

a.hirebtn {
    background: linear-gradient(to right, #fd9677, #F9775F);
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 2s;
}

a.hirebtn:hover {
    background: linear-gradient(to right, #F9775F, #fd9677);
    transition: all 1s;
}

h1.expHD {
    font-size: 40px;
}

h3.exp2d {
    font-size: 20px;
    color: darkorange;
}

div.expLeft {
    width: 570px;
    height: 350px;
    padding: 10px;
    background: #ffffff00;
    box-shadow: 10px 2px 30px rgb(196, 196, 196);
    margin-right: 25px;
    border-left: 7px solid;
    border-radius: 5px;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}

div.expright {
    width: 570px;
    height: 350px;
    padding: 10px;
    background: #ffffff00;
    box-shadow: 10px 2px 30px rgb(196, 196, 196);
    margin-left: 25px;
    border-left: 7px solid;
    border-radius: 5px;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}