@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

section#header {
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin: auto;
}

section#dreambig {
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin: auto;
}

div.left-side {
    width: 50%;
    padding-left: 5%;
}

div.right-side {
    width: 50%;
    padding-left: 10%;
}

section#dreambig div.right-side {
    width: 50%;
    margin-top: -100px;
}

div.right-side img {
    width: 90%;
}

div.left-side img {
    width: 90%;
}

h1 {
    font-size: 50px;
}

h1.mName {
    font-size: 45px;
}

h3 {
    font-size: 25px;
    padding-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

h1 span {
    color: darkorange;
}

a.hirebtn {
    background: linear-gradient(to right, #fd9677, #F9775F);
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 2s;
}

a.hirebtn:hover {
    background: linear-gradient(to right, #F9775F, #fd9677);
    transition: all 1s;
}